@model Questions
@{
    ViewData["Title"] = "DeleteForm";
}

<h1>Confirm Delete Question</h1>
<div />

<h3>Title: @Model.title</h3>
<div />

<h3>Question: @Model.detail</h3>
<div />

<h3>Are you sure you want to delete this question?</h3>
<div />

<div><a href="~/questions/delete/@Model.id" class="btn btn-primary">Confirm Delete</a></div>

<div><a href="~/questions/index" class="btn btn-danger">Cancel</a></div>
